[Unit]
Description=auto-aim service
 
[Service]
Type=forking
 
ExecStart=/home/nvidianx/auto-aim/bash/auto-aim-start.sh
ExecReload=/home/nvidianx/auto-aim/bash/auto-aim-restart.sh
ExecStop=/home/nvidianx/auto-aim/bash/auto-aim-stop.sh
PrivateTmp=true
 
[Install]
WantedBy=multi-user.target
Alias=auto-aim.service
